*.sql
*.db
*.env
__pycache__/
.DS_Store


*.txt
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.sqlite
*.db-journal
*.swp
*.swo
.DS_Store
.vscode/    
.idea/
instance/
.pytest_cache/
celerybeat-schedule
migrations/
/staticfiles/   
